body {
    padding: 0;
    margin: 0;
    background: #262626;
    color: #ff4dff;
    }
.description {
	left: 50%;
	position: absolute;
	top: 10%;
	transform: translate(-50%, -55%);
	text-align: center;
}
.description h1 {
	color: #ff4dff;
}
.wrapper {
	margin: 4em auto;
	padding: 1em;
	position: relative;
}

